<%= form_for @customer do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<table class="bookingtable">
  <col width="325px" />
  <tr>
    <td id="booking1">

    <br><br>
    <b>Please enter your contact information:</b>
    <br><br>

  <div class="field">
    <%= form.label "First Name:" %>
    <%= form.text_field :firstName, id: :customer_firstName %>
  </div>

  <div class="field">
    <%= form.label "Middle Initial (Optional):" %>
    <%= form.text_field :middleInitial, id: :customer_middleInitial %>
  </div>

  <div class="field">
    <%= form.label "Last Name:" %>
    <%= form.text_field :lastName, id: :customer_lastName %>
  </div>

  <div class="field">
    <%= form.label "Your Email:" %>
    <%= form.text_field :email, id: :customer_email %>
  </div>

  <div class="field">
    <%= form.label "Your Phone Number:" %>
    <%= form.text_field :phone, id: :customer_phone %>
  </div>

    <br>
    <b>Please enter your vehicle information:</b>
    <br><br>

    <%= form.fields_for :vehicle do |v_form| %>

    <div class="field">
      <%= v_form.label "Vehicle Make:" %>
      <%= v_form.text_field :make, id: :vehicle_make %>
    </div>

    <div class="field">
      <%= v_form.label "Vehicle Model:" %>
      <%= v_form.text_field :model, id: :vehicle_model %>
    </div>

    <div class="field">
      <%= v_form.label "Vehicle Year:" %>
      <%= v_form.text_field :year, id: :vehicle_year %>
    </div>

        <% end %>

    </td>
    <td id="booking2">

    <br><br>
      <b>Times listed in the calendar below have already been booked:</b>
    <br><br>
        <%= week_calendar events: @appointments do |date, appointments| %>
            <b><%= date.day %></b>
            <br>

            <% appointments.each do |appointment| %>

                <span class="highlightme"><%= appointment.appDate.strftime(" %I:%M %p") %></span>


            <% end %>
        <% end %>


      </div>
    <%= form.fields_for :appointment do |app_form| %>

    <div class="field">
      <br><b><%= app_form.label "Please select your desired appointment date:" %></b><br>
      <%= app_form.datetime_select :appDate, :ampm  => true,  :start_year => 2017,
                                   :start_hour => 8, :end_hour => 17, :minute_step => 60, :order => [:year, :month, :day] %>
    </div>
    </div>
    <br>
    <div class="field">
      <b><%= app_form.label "Enter a brief description of your problem (120 characters or less):" %></b><br>
      <%= app_form.text_area :description, id: :appointment_description, :maxlength => 120, :size => "30x5" %>
    </div>

        <% end %>

    </td>
  </tr>
</table>


<br><br>
  <div class="actions">
    <%= form.submit "Book your appointment!" %>
  </div>
<% end %>
