<% if current_user %>
<h2>Appointment Details for <%= @customer.firstName %> <%= @customer.middleInitial %> <%= @customer.lastName %></h2>
<hr>

<p>
  <strong><%= @customer.firstName %> <%= @customer.middleInitial %> <%= @customer.lastName %></strong>,
  has an appointment booked for <b><%= @customer.appointment.appDate.strftime("%B %-d, %Y at %I:%M %p") %></b>
</p>

<p>

  <h3>Itinerary:</h3>
<% else %>
<h2>Your appointment has been booked!</h2>
<hr>

<p>
  Thank you <strong><%= @customer.firstName %> <%= @customer.middleInitial %> <%= @customer.lastName %></strong>,
  your appointment has been booked for <b><%= @customer.appointment.appDate.strftime("%B %-d, %Y at %I:%M %p") %></b>
</p>

<p>
  <h3>Your itinerary:</h3>
  <% end %>
  <p>
  Email: <b><%= @customer.email %></b>
  <br>
  Phone: <b><%= @customer.phone %></b>
  <br>
  Vehicle: <b><%= @customer.vehicle.make %> <%= @customer.vehicle.model %> <%= @customer.vehicle.year %></b>
  <br><br>
    Issue described:<br>
    <b><%= @customer.appointment.description %></b>
  <br><br>
  Insurance Company: <b><%= @customer.insurance.companyName %></b>
  <br>
  Insurance Claim #: <b><%= @customer.insurance.claimNumber %></b>
  </p>

<br><br>
<hr>
<% if current_user %>
<strong><%= link_to 'Appointment Management Page', Customer %></strong>
<% else %>
<% end %>

<p>
<%= link_to 'Return to Homepage', welcome_index_path %>
